<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{book.add}"></title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1 th:text="#{book.find}"></h1>
                <p th:text="#{book.find.details}"></p>
            </div>
        </div>
    </section>
    <section class="container">
        <form action="#" th:action="@{/books/search}" th:object="${newBook}" method="post" class="form-horizontal">
            <fieldset>
                <legend th:text="#{book.find}"></legend>

                <!-- Sample template for some fields in Book Entity -->
                <div class="form-group">
                    <label class="control-label col-lg-2" for="name" th:text="#{book.title}"></label>
                    <div class="col-lg-10">
                        <input id="name" type="text" th:field="*{title}" class="form:input-large" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2" for="authors" th:text="#{book.authors}"></label>
                    <div class="col-lg-10">
                        <input id="authors" type="text" th:field="*{authors}" class="form:input-large"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2" for="description" th:text="#{book.description}"></label>
                    <div class="col-lg-10">
                        <input id="description" type="text" th:field="*{description}" class="form:input-large"/>
                    </div>

            </fieldset>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="submit" id="btnAdd" class="btn btn-primary"
                           value="Search"/>
                </div>
            </div>
        </form>
    </section>
</div>
</body>
</html>